@import url(reset.css);
@import url(../font/Pretendard/stylesheet.css);
@import url(../font/KIMM/stylesheet.css);
body,
html {
  font-family: "Pretendard";
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #1A1A1A;
}

body {
  position: relative;
}

/* .top_banner */
.top_banner {
  width: 100%;
  height: 5rem;
  background-color: #002147;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21rem;
}
.top_banner p {
  font-size: 1.6rem;
  color: #fff;
}
.top_banner button {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}
.top_banner button .close_btn {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* .header */
.header {
  width: 100%;
  height: 9rem;
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 99;
}
.header .inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21rem;
  margin: 0 auto;
  transition: all 1s;
}
.header .inner .logo img {
  width: 9.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.header .inner .nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .inner .nav .gnb {
  display: flex;
}
.header .inner .nav .gnb > li {
  width: 13rem;
  position: relative;
  text-align: center;
}
.header .inner .nav .gnb > li .depth-01 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 9rem;
  position: relative;
}
.header .inner .nav .gnb > li .depth-02 {
  width: 100%;
  height: 22rem;
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 9;
  /* margin: 1rem 0; */
}
.header .inner .nav .gnb > li .depth-02 li {
  width: 100%;
}
.header .inner .nav .gnb > li .depth-02 li a {
  display: block;
  font-size: 1.8rem;
  white-space: nowrap;
  text-align: center;
  padding: 1rem 0;
}
.header .inner .nav .gnb > li:hover {
  color: #FC5B00;
  font-weight: 600;
  /* background-color: #FFFAF6; */
}
.header .inner .nav .gnb > li:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: #FC5B00;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header .inner .nav .gnb > li:hover .depth-02 li a {
  color: #1A1A1A;
  font-weight: 400;
}
.header .inner .nav .gnb > li:hover .depth-02 li a:hover {
  color: #FC5B00;
  font-weight: 600;
}
.header .inner .util {
  display: flex;
  gap: 2.4rem;
}
.header .inner .util li a {
  font-size: 1.6rem;
}
.header .inner .util li:hover a {
  font-weight: 600;
}
.header .inner .bg {
  width: 100%;
  height: 22rem;
  background-color: #fff;
  position: absolute;
  top: 9rem;
  left: 0;
  display: none;
  z-index: -1;
}
.header .inner .bg span {
  position: absolute;
  left: -9999rem;
}
.header .inner:hover {
  background-color: #fff;
  border-bottom: 0.1rem solid #ddd;
}

.main_visual {
  width: 100%;
  height: calc(100vh - 3rem);
  background-color: #E9F3FF;
}
.main_visual .inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13rem;
}
.main_visual .inner .title_wrap h2 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 5.6rem;
}
.main_visual .inner .title_wrap .text_wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.main_visual .inner .title_wrap .text_wrap li {
  font-size: 2.4rem;
}
.main_visual .inner .img_wrap {
  width: 36.45%;
}
.main_visual .inner .img_wrap .image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.main_visual .inner .img_wrap .image img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  animation: updown 2s linear 0s infinite alternate;
}
@keyframes updown {
  0% {
    top: 0;
  }
  100% {
    top: -2rem;
  }
}

.main_nav {
  margin-top: 5rem;
}
.main_nav .inner .nav_wrap {
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.main_nav .inner .nav_wrap li {
  width: 7.29%;
  transition: all 0.5s;
}
.main_nav .inner .nav_wrap li:hover a .icon_wrap img {
  transform: scale(1.2) rotate(10deg);
  transition: transform 0.5s;
}
.main_nav .inner .nav_wrap li:hover a span {
  transform: scale(1.1);
  font-weight: 500;
}
.main_nav .inner .nav_wrap li a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_nav .inner .nav_wrap li a .icon_wrap {
  width: 100%;
}
.main_nav .inner .nav_wrap li a .icon_wrap img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_nav .inner .nav_wrap li a span {
  font-size: 1.8rem;
}

.kpass_intro {
  margin: 25rem auto 30rem;
}
.kpass_intro .inner {
  width: 150rem;
  margin: 0 auto;
}
.kpass_intro .inner .title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35rem;
}
.kpass_intro .inner .title_wrap h2 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
}
.kpass_intro .inner .title_wrap p {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
.kpass_intro .inner .list {
  display: flex;
  flex-direction: column;
  gap: 35rem;
}
.kpass_intro .inner .list .item {
  display: flex;
  justify-content: center;
  gap: 30rem;
  align-items: center;
}
.kpass_intro .inner .list .item:nth-child(2) .img_wrap {
  order: 1;
}
.kpass_intro .inner .list .item:nth-child(4) .img_wrap {
  order: 1;
}
.kpass_intro .inner .list .item .img_wrap {
  width: 33.33%;
}
.kpass_intro .inner .list .item .img_wrap img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.kpass_intro .inner .list .item .text_wrap span {
  display: block;
  color: #3168DF;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
}
.kpass_intro .inner .list .item .text_wrap h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}
.kpass_intro .inner .list .item .text_wrap p {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 2.4rem;
}
.kpass_intro .inner .list .item .text_wrap .more_btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  border: 0.1rem solid #1A1A1A;
  border-radius: 3rem;
  font-size: 2rem;
  line-height: 1;
  margin-top: 4.8rem;
  transition: all 0.3s;
}
.kpass_intro .inner .list .item .text_wrap .more_btn:hover {
  background-color: #002147;
  color: #fff;
  border: 0.1rem solid #002147;
}

.regional_benefit {
  width: 100%;
  height: 100vh;
  background-color: #E9F3FF;
}
.regional_benefit .inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 20rem;
}
.regional_benefit .inner .img_wrap {
  width: 32.91%;
  position: relative;
}
.regional_benefit .inner .img_wrap img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}
.regional_benefit .inner .img_wrap div {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: rgba(32, 116, 218, 0.6901960784);
  position: relative;
}
.regional_benefit .inner .img_wrap div:hover p {
  display: block;
}
.regional_benefit .inner .img_wrap div p {
  font-size: 2rem;
  white-space: nowrap;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  display: inline-block;
  position: absolute;
  top: -6rem;
  left: -210%;
  display: none;
  z-index: 9;
}
.regional_benefit .inner .img_wrap div p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1.2rem solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  margin-left: -1.2rem;
  margin-bottom: -1.2rem;
}
.regional_benefit .inner .img_wrap div:nth-child(2) p {
  left: -150%;
}
.regional_benefit .inner .img_wrap div:nth-child(3) p {
  left: -150%;
}
.regional_benefit .inner .img_wrap div:nth-child(4) p {
  left: -190%;
}
.regional_benefit .inner .img_wrap div:nth-child(5) p {
  left: -190%;
}
.regional_benefit .inner .img_wrap div:nth-child(6) p {
  left: -190%;
}
.regional_benefit .inner .img_wrap div:nth-child(7) p {
  left: -190%;
}
.regional_benefit .inner .img_wrap div:nth-child(8) p {
  left: -190%;
}
.regional_benefit .inner .img_wrap div:nth-child(9) p {
  left: -190%;
}
.regional_benefit .inner .img_wrap div:nth-child(10) p {
  left: -220%;
}
.regional_benefit .inner .img_wrap div:nth-child(11) p {
  left: -220%;
}
.regional_benefit .inner .img_wrap div:nth-child(12) p {
  left: -220%;
}
.regional_benefit .inner .img_wrap div:nth-child(13) p {
  left: -220%;
}
.regional_benefit .inner .img_wrap div:nth-child(14) p {
  left: -220%;
}
.regional_benefit .inner .img_wrap div:nth-child(15) p {
  left: -220%;
}
.regional_benefit .inner .img_wrap div:nth-child(17) p {
  left: -290%;
}
.regional_benefit .inner .img_wrap div:last-child p {
  left: -290%;
}
.regional_benefit .inner .img_wrap .gangwon {
  position: absolute;
  top: 9.3%;
  right: 26.7%;
}
.regional_benefit .inner .img_wrap .gyeonggi {
  position: absolute;
  top: 11.3%;
  left: 42.4%;
}
.regional_benefit .inner .img_wrap .south_gyeongsang {
  position: absolute;
  bottom: 44%;
  right: 32.6%;
}
.regional_benefit .inner .img_wrap .north_gyeongsang {
  position: absolute;
  top: 31.5%;
  right: 14.5%;
}
.regional_benefit .inner .img_wrap .south_jeolla {
  position: absolute;
  bottom: 29.8%;
  left: 23.8%;
}
.regional_benefit .inner .img_wrap .north_jeolla {
  position: absolute;
  bottom: 52.2%;
  left: 33.1%;
}
.regional_benefit .inner .img_wrap .south_chungcheong {
  position: absolute;
  top: 27.4%;
  left: 24%;
}
.regional_benefit .inner .img_wrap .north_chungcheong {
  position: absolute;
  top: 19.4%;
  left: 54.5%;
}
.regional_benefit .inner .img_wrap .gwangju {
  position: absolute;
  bottom: 40%;
  left: 27%;
}
.regional_benefit .inner .img_wrap .daegu {
  position: absolute;
  top: 43.5%;
  right: 26.6%;
}
.regional_benefit .inner .img_wrap .daejeon {
  position: absolute;
  top: 33.4%;
  left: 39.3%;
}
.regional_benefit .inner .img_wrap .busan {
  position: absolute;
  bottom: 40%;
  right: 11.3%;
}
.regional_benefit .inner .img_wrap .seoul {
  position: absolute;
  top: 7.2%;
  left: 30%;
}
.regional_benefit .inner .img_wrap .ulsan {
  position: absolute;
  bottom: 48.1%;
  right: 8.2%;
}
.regional_benefit .inner .img_wrap .incheon {
  position: absolute;
  top: 9.2%;
  left: 20.9%;
}
.regional_benefit .inner .img_wrap .sejong {
  position: absolute;
  top: 29.5%;
  left: 36.1%;
}
.regional_benefit .inner .img_wrap .jeju {
  position: absolute;
  bottom: 3.7%;
  left: 14.6%;
}
.regional_benefit .inner .text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.regional_benefit .inner .text_wrap h3 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 4.8rem;
}
.regional_benefit .inner .text_wrap .more_btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  border: 0.1rem solid #1A1A1A;
  border-radius: 3rem;
  font-size: 2rem;
  line-height: 1;
  margin-top: 4.8rem;
  transition: all 0.3s;
}
.regional_benefit .inner .text_wrap .more_btn:hover {
  background-color: #002147;
  color: #fff;
  border: 0.1rem solid #002147;
}

.payment_schedule {
  margin-top: 30rem;
  position: relative;
}
.payment_schedule .img_wrap {
  width: 20.83%;
  position: absolute;
  top: -24%;
  right: 13%;
  z-index: 99;
  animation: motion 1s linear 0s infinite alternate;
  /* @keyframes motion {
      0% {
          top: -24%;
      }
      100% {
          top: -26%;
      }
  } */
}
.payment_schedule .img_wrap .image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.payment_schedule .img_wrap .image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.payment_schedule .inner {
  width: 160rem;
  height: 75rem;
  background-color: #E9F3FF;
  border-radius: 7rem;
  margin: 0 auto;
  padding: 5rem 8rem 9.5rem;
  position: relative;
  overflow-x: auto;
}
.payment_schedule .inner::-webkit-scrollbar {
  display: none;
}
.payment_schedule .inner .title_wrap {
  margin-bottom: 5rem;
}
.payment_schedule .inner .title_wrap h3 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.6rem;
}
.payment_schedule .inner .title_wrap .tab_list {
  display: flex;
  gap: 1.6rem;
}
.payment_schedule .inner .title_wrap .tab_list li {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.8rem 0;
  cursor: pointer;
}
.payment_schedule .inner .title_wrap .tab_list li.active {
  font-weight: 500;
  border-bottom: 0.2rem solid #1A1A1A;
}
.payment_schedule .inner .card_list {
  width: 130rem;
  position: absolute;
  top: 26rem;
  left: 15rem;
  /* display: none; */
  overflow: visible;
  opacity: 0;
}
.payment_schedule .inner .card_list.active {
  display: flex;
  opacity: 1;
  z-index: 99;
}
.payment_schedule .inner .card_list .swiper-wrapper {
  transition-timing-function: linear;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide {
  width: 25rem;
  height: 39.5rem;
  border-radius: 1.5rem;
  perspective: 80rem;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.hana .card_wrap {
  background: #00907F;
  background: linear-gradient(225deg, rgb(0, 144, 127) 0%, rgb(0, 74, 59) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.baro .card_wrap {
  background: #F79E1B;
  background: linear-gradient(225deg, rgb(247, 158, 27) 0%, rgb(235, 0, 27) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.ibk .card_wrap {
  background: #0099DA;
  background: linear-gradient(225deg, rgb(0, 153, 218) 0%, rgb(0, 85, 162) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.hyundai .card_wrap {
  background: #616161;
  background: linear-gradient(225deg, rgb(97, 97, 97) 0%, rgb(7, 7, 7) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.gwangju_bank .card_wrap {
  background: #3796D2;
  background: linear-gradient(225deg, rgb(55, 150, 210) 0%, rgb(48, 31, 109) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.imbank .card_wrap {
  background: #E2F15E;
  background: linear-gradient(225deg, rgb(226, 241, 94) 0%, rgb(0, 199, 169) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.shinhan .card_wrap {
  background: #0046FF;
  background: linear-gradient(225deg, rgb(0, 70, 255) 0%, rgb(0, 33, 121) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.woori .card_wrap {
  background: #7ED2FF;
  background: linear-gradient(225deg, rgb(126, 210, 255) 26%, rgb(0, 131, 202) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.samsung .card_wrap {
  background: #47A4FF;
  background: linear-gradient(225deg, rgb(71, 164, 255) 26%, rgb(0, 60, 220) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.NH .card_wrap {
  background: #009FE3;
  background: linear-gradient(225deg, rgb(0, 159, 227) 0%, rgb(0, 89, 164) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.busanbank .card_wrap {
  background: #CB2B11;
  background: linear-gradient(225deg, rgb(203, 43, 17) 30%, rgb(88, 12, 0) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.lotte .card_wrap {
  background: #716661;
  background: linear-gradient(225deg, rgb(113, 102, 97) 10%, rgb(44, 42, 38) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.KB .card_wrap {
  background: #FAB809;
  background: linear-gradient(225deg, rgb(250, 184, 9) 0%, rgb(233, 133, 3) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.kbank .card_wrap {
  background: #4262FF;
  background: linear-gradient(225deg, rgb(66, 98, 255) 0%, rgb(1, 20, 167) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.ezl .card_wrap {
  background: #FFCB00;
  background: linear-gradient(225deg, rgb(255, 203, 0) 0%, rgb(215, 159, 1) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.kakao .card_wrap {
  background: #FFEB00;
  background: linear-gradient(225deg, rgb(255, 235, 0) 0%, rgb(254, 189, 0) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.tmoney .card_wrap {
  background: #F08300;
  background: linear-gradient(225deg, rgb(240, 131, 0) 0%, rgb(146, 8, 131) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.Npay .card_wrap {
  background: #00DE5A;
  background: linear-gradient(225deg, rgb(0, 222, 90) 0%, rgb(24, 145, 73) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide.korail .card_wrap {
  background: #00AFD5;
  background: linear-gradient(225deg, rgb(0, 175, 213) 0%, rgb(0, 84, 166) 100%);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide:hover .card_wrap {
  transform: rotateY(180deg);
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1.5rem;
  box-shadow: inset -0.15rem -0.15rem 0.4rem rgba(0, 0, 0, 0.6), inset 0.15rem 0.15rem 0.4rem rgba(255, 255, 255, 0.6);
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_front .chip_img {
  width: 15.5%;
  position: absolute;
  top: 11.39%;
  right: 32%;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_front .chip_img img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_front .logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_front .logo .card_logo {
  display: block;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_front .logo span {
  font-family: "KIMMBold";
  font-size: 2.2rem;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_back .logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_back .logo .card_logo {
  display: block;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_back .logo span {
  display: block;
  font-family: "KIMMBold";
  font-size: 2.2rem;
}
.payment_schedule .inner .card_list .swiper-wrapper .swiper-slide .card_wrap .card_back p {
  font-size: 2rem;
  color: #fff;
  padding: 3rem 2rem;
}

.event {
  margin: 25rem auto 20rem;
}
.event .inner {
  width: 150rem;
  margin: 0 auto;
}
.event .inner .title_wrap {
  margin-bottom: 5rem;
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.event .inner .title_wrap .text h3 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1.6rem;
}
.event .inner .title_wrap .text p {
  font-size: 2rem;
  line-height: 1.4;
}
.event .inner .title_wrap .more_btn {
  margin-right: 3rem;
}
.event .inner .title_wrap .more_btn a {
  display: inline-block;
  padding: 0.8rem 1rem 0.8rem 2rem;
  border: 0.1rem solid #002147;
  border-radius: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.event .inner .title_wrap .more_btn a span {
  font-size: 1.8rem;
  text-align: center;
  color: #002147;
}
.event .inner .title_wrap .more_btn a .default {
  display: block;
  width: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(90deg);
}
.event .inner .title_wrap .more_btn a .hover {
  display: none;
  width: 2.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.event .inner .title_wrap .more_btn a:hover {
  background-color: #002147;
}
.event .inner .title_wrap .more_btn a:hover span {
  color: #fff;
  font-weight: 500;
}
.event .inner .title_wrap .more_btn a:hover .hover {
  display: block;
}
.event .inner .title_wrap .more_btn a:hover .default {
  display: none;
}
.event .inner .list {
  display: flex;
  justify-content: center;
  gap: 8rem;
}
.event .inner .list .item {
  width: 20%;
  border-radius: 2rem;
  overflow: hidden;
}
.event .inner .list .item:hover img {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.event .inner .list .item img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  width: 100%;
  background-color: #DBE7F6;
}
.footer .up_btn {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.2rem solid #002147;
  position: fixed;
  bottom: 8rem;
  right: 8rem;
  z-index: 999;
}
.footer .up_btn:hover {
  background-color: #002147;
}
.footer .up_btn:hover img {
  filter: invert(1);
}
.footer .up_btn.active {
  position: absolute;
  bottom: 16rem;
}
.footer .up_btn img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .inner {
  width: 150rem;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer .inner .footer_logo {
  width: 9.6rem;
}
.footer .inner .footer_logo img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .inner .info_wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-end;
}
.footer .inner .info_wrap .info {
  display: flex;
  gap: 2rem;
}
.footer .inner .info_wrap .info li a {
  font-size: 1.6rem;
}
.footer .inner .info_wrap p {
  font-size: 1.6rem;
}/*# sourceMappingURL=main.css.map */