@charset "utf-8";
@import url(reset.css);
@import url(../font/Pretendard/stylesheet.css);

body,
html {
    font-family: 'Pretendard';
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.05rem;
    color: #1A1A1A;
}

body {
    position: relative;
}

.header {
    width: 100%;
    height: 9rem;
    z-index: 999;

    .inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 21rem;
        margin: 0 auto;
        transition: all 1s;
        position: relative;
        border-bottom: 0.1rem solid #ddd;

        .logo {
            img {
                width: 9.6rem;
                object-fit: cover;
                display: block;
            }
        }

        .nav {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .gnb {
                display: flex;

                >li {
                    width: 13rem;
                    position: relative;
                    text-align: center;

                    &:first-child {
                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 0.3rem;
                            background-color: #FC5B00;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }

                    .depth-01 {
                        font-size: 2rem;
                        font-weight: 500;
                        line-height: 9rem;
                        position: relative;

                        &.active {
                            color: #FC5B00;
                            font-weight: 600;
                        }
                    }

                    .depth-02 {
                        width: 100%;
                        height: 22rem;
                        position: absolute;
                        top: 9rem;
                        left: 50%;
                        transform: translateX(-50%);
                        display: none;

                        /* margin: 1rem 0; */

                        li {
                            width: 100%;

                            a {
                                display: block;
                                font-size: 1.8rem;
                                white-space: nowrap;
                                text-align: center;
                                padding: 1rem 0;
                            }

                        }
                    }

                    &:hover {
                        color: #FC5B00;
                        font-weight: 600;
                        /* background-color: #FFFAF6; */

                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 0.3rem;
                            background-color: #FC5B00;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }

                        .depth-02 {

                            li {

                                a {
                                    color: #1A1A1A;
                                    font-weight: 400;

                                    &:hover {
                                        color: #FC5B00;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }

            }

        }

        .util {
            display: flex;
            gap: 2.4rem;

            li {
                a {
                    font-size: 1.6rem;

                }

                &:hover {
                    a {
                        font-weight: 600;
                    }
                }
            }
        }

        .bg {
            width: 100%;
            height: 22rem;
            background-color: #fff;
            position: absolute;
            top: 9rem;
            left: 0;
            display: none;
            z-index: -1;

            span {
                position: absolute;
                left: -9999rem;
            }
        }
    }

}

.signup_process {
    width: 150rem;
    margin: 4rem auto 10rem;

    .sub_nav {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        margin-bottom: 3rem;

        li {
            display: flex;
            gap: 0.6rem;

            .right {
                width: 2rem;
                object-fit: cover;
                display: block;
                filter: invert(80%) sepia(3%) saturate(0%) hue-rotate(92deg) brightness(106%) contrast(94%);
            }

            span {
                font-size: 1.6rem;
                color: #777;
            }

            &.dropdown {
                position: relative;
                cursor: pointer;

                strong {
                    font-size: 1.8rem;
                    color: #FC5B00;
                    border-bottom: 0.2rem solid #FC5B00;
                }

                img {
                    width: 2.2rem;
                    object-fit: cover;
                    display: block;
                    transform: rotate(90deg);
                }

                .depth {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 3rem;
                    left: 0;
                    padding: 0.8rem;
                    border-radius: 1rem;
                    border: 0.1rem solid #ddd;
                    box-shadow: 0 0 0.8rem #00000015;
                    background-color: #fff;
                    display: none;

                    &.active {
                        display: flex;
                    }

                    li {
                        width: 100%;
                        padding: 0.6rem 0;
                        display: flex;

                        a {
                            display: block;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    /* sub_nav */

    .process_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .process {
            width: 83.06%;
            height: 33.2rem;
            background-color: #F6F6F6;
            border-radius: 2rem;

            h3 {
                font-size: 2.4rem;
                font-weight: 600;
                text-align: center;
                padding-top: 4rem;
            }

            .list {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 3rem;

                .item {
                    width: 12.03%;
                    display: flex;
                    flex-direction: column;

                    img {
                        display: block;
                        width: 100%;
                        object-fit: cover;
                    }

                    strong {
                        font-size: 1.6rem;
                        color: #FC5B00;
                        text-align: center;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 1.6rem;
                        text-align: center;
                    }
                }
            }
        }

        /* process */

        .shortcut_btn {
            width: 15.33%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            li {
                width: 100%;
                height: 15rem;
                background-color: #FFF7F2;
                border-radius: 1rem;
                position: relative;
                transition: 0.3s;
                box-shadow: 0.2rem 0.2rem 1rem #0000001f;
                cursor: pointer;

                a {
                    display: inline-block;
                    position: absolute;
                    left: 2rem;
                    bottom: 2rem;

                    span {
                        font-size: 1.6rem;
                        color: #FC5B00;
                        font-weight: 600;

                        &::after {
                            content: '';
                            display: block;
                            width: 3rem;
                            height: 3rem;
                            background: url(../img/icon_arrow_right.svg) center center / cover no-repeat;
                            position: absolute;
                            top: 50%;
                            right: -9rem;
                            transform: translateY(-50%);
                        }
                    }


                }

                &:hover {
                    background-color: #FC5B00;
                    box-shadow: 0.2rem 0.2rem 1rem #00000044;
                    transition: 0.5s;

                    a {
                        span {
                            color: #fff;

                            &::after {
                                background: url(../img/icon_arrow_right-w.svg) center center / cover no-repeat;
                            }
                        }

                    }
                }
            }
        }

        /* shortcut_btn */
    }

    /* process_box */
}

/* signup_process */


.benefit {
    width: 150rem;
    margin: 0 auto;

    .tab_list {
        display: flex;
        gap: 2rem;

        li {
            font-size: 1.8rem;
            padding: 0.8rem 2rem;
            border: 0.1rem solid #999;
            border-radius: 4rem;
            cursor: pointer;

            &.active {
                font-weight: 600;
                color: #fff;
                background-color: #FC5B00;
                border: 0.1rem solid #FC5B00;
            }
        }

    }

    /* tab_list */

    .intro {
        display: flex;
        gap: 20rem;
        margin: 12rem auto;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 26.8rem;
            height: 5rem;
            object-fit: cover;
        }

        .text_wrap {
            h3 {
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }

            p {
                font-size: 2rem;
            }
        }
    }

    .gyeonggi {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .nav_vertical {
            width: 21.8%;
            position: sticky;
            top: 4rem;

            li {
                width: 100%;
                height: 8rem;
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    padding: 0 5rem;
                    border-radius: 1rem;

                    img {
                        display: block;
                        width: 5rem;
                        height: 5rem;
                    }

                    .active {
                        display: none;
                    }

                    span {
                        font-size: 2.4rem;
                        font-weight: 500;
                        color: #999;
                    }

                    &.active {
                        background-color: #FFF7F2;

                        .active {
                            display: block;
                        }

                        .default {
                            display: none;
                        }

                        span {
                            font-weight: 600;
                            color: #FC5B00;
                        }
                    }
                }

            }
        }

        /* nav_vertical */

        .list {
            width: 74.4%;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .item {
                width: 100%;
                padding: 5rem;
                border: 0.1rem solid #999;
                border-radius: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                position: relative;

                h3 {
                    font-size: 2.4rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 2rem;

                }

                span {
                    font-size: 1.8rem;
                    color: #777;
                }

                li {
                    font-size: 1.6rem;
                }

                strong {
                    font-size: 2rem;
                }

                .how_to {
                    display: flex;
                    gap: 12rem;

                    strong {
                        display: block;
                        font-weight: 500;
                        margin-bottom: 2rem;
                    }

                    ul {
                        padding-left: 1.8rem;
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;

                        li {
                            display: flex;
                            flex-direction: column;
                            gap: 0.4rem;

                            span {
                                display: block;
                                margin-left: 1rem;
                            }
                        }
                    }
                }

                &:hover {
                    box-shadow: 0.4rem 0.4rem 1rem #00000020;
                }

                &:last-child {
                    img {
                        width: 100%;

                    }
                }

                &:nth-child(3) {
                    li {
                        color: #777;
                        line-height: 1.5;
                    }
                }

                &:nth-child(5) {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        li {
                            display: flex;
                            flex-direction: column;
                            gap: 0.6rem;

                            span {
                                display: block;
                                margin-left: 1rem;
                            }
                        }
                    }

                    img {
                        width: 23rem;
                        object-fit: cover;
                        position: absolute;
                        right: 5rem;
                        bottom: 3rem;
                    }
                }
            }
        }

    }

    /* gyeonggi */

}

/* benefit */


.footer {
    width: 100%;
    background-color: #DBE7F6;

    .up_btn {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 0.2rem solid #002147;
        position: fixed;
        bottom: 8rem;
        right: 8rem;
        z-index: 999;

        &:hover {
            background-color: #002147;

            img {
                filter: invert(1);
            }
        }

        &.active {
            position: absolute;
            bottom: 16rem;
        }

        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    .inner {
        width: 150rem;
        padding: 5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .footer_logo {
            width: 9.6rem;

            img {
                display: block;
                width: 100%;
                object-fit: cover;
            }
        }

        .info_wrap {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            align-items: flex-end;

            .info {
                display: flex;
                gap: 2rem;

                li {
                    a {
                        font-size: 1.6rem;
                    }
                }
            }

            p {
                font-size: 1.6rem;
            }
        }
    }
}